* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:#1c1c1c;
}

header {
    width: 100%;
    background: #101010;

    padding: 10px 20px;

    position: fixed;
    top: 0;
    z-index: 999; 
}

.nav-bar {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.menu ul {
    display: flex;
    column-gap: 2rem;
    list-style: none;
    
}


.menu li {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75rem;

    transition: .7s ease;
}

.menu li:hover {
    color: white;
}

.hamburguer {
    display: none;
}

.hamburguer-menu {
    width: 42px;
    height: 42px;
    
    position: relative; 

}

.hamburguer-menu::after {
    content:'';
    width: 25px;
    height: 4px;
    position: absolute;
    background: #fff;

    top: 28%;
    left: 18%;

    border-radius: 20px;

    transition: .7s ease;

}

.hamburguer-menu::before {
    content:'';
    width: 25px;
    height: 4px;
    position: absolute;
    background: #fff;

    bottom: 28%;
    left: 18%;

    border-radius: 20px;

    transition: .7s ease;

}

#hamburguer:checked ~ label .hamburguer-menu:before{
    transform: rotate(225deg);
    top: 45%;
} 

#hamburguer:checked ~ label .hamburguer-menu:after{
    transform: rotate(-225deg);
    top: 45%;
}   


@media screen and (max-width:960px) {
    .hamburguer {
        display: block;
        z-index: 999;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;

        width: 100%;

        align-items: center;
        justify-content: center;

        background-color: rgb(56, 56, 56);

        padding-inline: 2rem;
        
        transition: .7s ease;

    }

    #hamburguer {
        transition: .7 ease;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        row-gap: 1.5rem;
    }

    .active {
        right: 0;
    }
}